@import java.util.concurrent.CompletableFuture
@(bookForm: Form[RealTweet], lt:CompletableFuture[List[Details]], tag:String)


<html>
    <head>
        <title>Search Tweets</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <script src="@routes.Assets.versioned("javascripts/jquery-3.3.1.js")"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="jumbotron text-center">
            <h1>Results For <span class="text-primary">Tweets</span> by HashTag - @tag </h1>
        </div>

        @*<h1>Ask For Tweet</h1>
        <p>Enter the topic!</p>*@

        <div align="center">
            @for(tag <- lt.get()){
                <br>
                @tag.text
                <br>
            }
        </div>
        <div class="container">
        </div>
    </body>
</html>