@import twitter4j._
@import java.util.concurrent.CompletableFuture
@(location: String, lt: CompletableFuture[List[Details]])



<html>
    <head>
        <title>Tweets by Location!</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <script src="@routes.Assets.versioned("javascripts/jquery-3.3.1.js")"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    </head>

    <body>
        <br>
        <div class="jumbotron text-center">
            <h1><span class="text-primary">Tweets</span> by Location! - @location</h1>

        </div>
        <br><br>
        <div class="container">
        @for(tweet <- lt.get()){
            <p>@tweet.text</p>
        }
        </div>
    </body>
</html>