@import twitter4j._
@import java.util.concurrent.CompletableFuture
@(user: CompletableFuture[User], statuses: CompletableFuture[List[Status]])


<html>
    <head>
        <title>User Profile</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <script src="@routes.Assets.versioned("javascripts/jquery-3.3.1.js")"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="jumbotron text-center">
        <h1>User Profile</h1>

        <p>ScreenName: <h4><span class="text-primary">@user.get().getScreenName()</span></h4>
            <br>
            UserName: <h4><span class="text-primary">@user.get().getName()</span></h4>
            <br>
            Location: <h4><span class="text-primary">@user.get().getLocation()</span></h4>
            <br>
            Description: <h4><span class="text-primary">@user.get().getDescription()</span></h4>
            <br>
            Followers: <h4><span class="text-primary">@user.get().getFollowersCount()</span></h4>
        </p>
        </div>
        @for(status <- statuses.get()){
            <p>@status.getText()</p>
        }

    </body>
</html>